

<header class="header">

    <div class="button-row-left">
        <button mat-button >Basic</button>
        <button mat-button >Primary</button>
        <button mat-button >Accent</button>
        <button mat-button >Warn</button>
        <!-- <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
        
      </div>

      <app-search class="search"></app-search>


      <div class="button-row-right">
        <button mat-button >Basic</button>
        <button mat-button >Primary</button>
        <button mat-button >Accent</button>
        <button mat-button >Warn</button>
        <!-- <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
        
      </div>

  
</header>
