<!-- 

<header class="header">

    




      <div class="button-row-right">
        <button mat-button >Basic</button>
        <button mat-button >Primary</button>
        <button mat-button >Accent</button>
      
   
        
      </div>

  
</header> -->
<!-- <header class="header">


  <div nz-row [nzGutter]="16"  nzJustify="end">
    <div nz-col class="gutter-row" [nzSpan]="2"><div class="inner-box">
      <span>帮助</span>
    </div></div>
    <div nz-col class="gutter-row" [nzSpan]="2"><div class="inner-box">
<span>我的订单</span>
      
    </div></div>
    <div nz-col class="gutter-row" [nzSpan]="2"><div class="inner-box">
<span>消息</span>

    </div></div>
    
    <div nz-col class="gutter-row" [nzSpan]="2"><div class="inner-box">
      <span>{{user.name}}</span>
      <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </div></div>
  
  </div>





</header> -->

<header class="header">
  <div class="button-row-left">
    <button mat-button ><img style="width: 36px" src="../../../assets/logo.png" alt="" routerLink="/index"></button>
    <button mat-button routerLink="/index">首页</button>
    <!-- <button mat-button >Accent</button>
    <button mat-button >Warn</button> -->
  </div>
<div>
  <!-- <nz-input-group [nzSuffix]="suffixIconSearch" class="search">
    <input type="text" nz-input placeholder="搜索你感兴趣的东西把" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template> -->
</div>
  <div class="button-row-right" >
    <button mat-button nz-dropdown [nzDropdownMenu]="menu"  (click)="auth()">
    {{user?.account}}

      <!-- <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" ></nz-avatar> -->
      <nz-avatar nzIcon="user" [nzSrc]="user.avatarUrl?'http://120.55.54.248:80/'+user.avatarUrl:'//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'" ></nz-avatar>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="resignin()">重新登陆</li>
        <li nz-menu-item (click)="cancellation()">注销</li>
        <li nz-menu-item  (click)="auth()">个人空间</li>
      </ul>
    </nz-dropdown-menu>
    <!-- <button mat-button>最新消息</button>
    <button mat-button>我的订单</button>
    <button mat-button>帮助</button> -->
  </div>

</header>