
.out{ 
  
    background:url(https://img2.baidu.com/it/u=941172036,2692654332&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=888) no-repeat;
    background-size:cover;
width: 100%;
}
.outbody{
    margin-top:60px;
    margin: 0 auto;
    max-width: 1100px;
    background-color:white;
    border-radius:30px 30px 0 0;
}

.body{
    
    margin:50px 0px;
}


.person{
    height: 200px;
    border-radius:30px 30px 00px 0px;
   
    background:url(https://img2.baidu.com/it/u=2135255211,3714317890&fm=253&fmt=auto&app=138&f=JPEG?w=1082&h=500) no-repeat;
    background-size:cover;
    position: relative;
}

.pensonPhotoDiv{
    display: flex;
   
    position: absolute;
    left: 40px;
    bottom:  40px;
}

.uploadpic{
    height: 56px;
    position: absolute;
    width: 56px;
}


.deleteUser{
    margin: 0 auto;
    padding-top: 200px;
    width: 500px;
    height: 600px;
    text-align: center;
}


.example-card {
    width:29% ;
    border-radius: 30px;
    margin:20px 2%
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

i {
    cursor: pointer;
  }


  .persondiv{
      padding-top:30px;
      height: 100%;
  }

  .personinput{
      height: 22px;
      lheight: 22px;
  }


  :host ::ng-deep .avatar-uploader > .ant-upload  {
   opacity:0.0;
      position: relative;
      right: 56px;
      border-radius: 50%;
    width: 56px;
    height: 56px;
  }
  :host ::ng-deep .avatar-uploader > .ant-upload:hover{
    opacity:0.5;
  }
  /* :host ::ng-deep .avatar-uploader > .ant-upload */

  .uploadimg{
    border-radius: 50%;
  }
  .account{
    position: relative;
    right: 56px;
    top: 20px;
  }

