<div class="first">
    <img src="../../../assets/logo.png" routerLink="">
    <div class="search"  >
        <div class="searchbox">
            <input [(ngModel)]="searchValue" >
            <button  mat-flat-button color="warn" [routerLink]="['/search/',{searchValue:searchValue}]" (click)="search()">搜索</button>
            
        </div >
        <div class="Searchexamples">
            <span *ngFor="let item of searchlist;let i =index" [routerLink]="['/search/',{searchValue:item}]" (click)="listsearch(i)">{{item}}</span>
            
           
        
        </div>
    </div>
</div>