<div class="first">
    <img src="../../../assets/logo.png">
    <div class="search">
        <div class="searchbox">
            <input>
            <button mat-flat-button color="warn" routerLink="/index/search">搜索</button>
        </div >
        <div class="Searchexamples">
            <span>asdad</span>
            <span>asdad</span>
            <span>asdad</span>
            <span>asdad</span>
            <span>asdad</span>
            <span>asdad</span>
            

        </div>
    </div>
</div>